.item {
  margin:1em;
}

.room, .looseItems {
  border: 2px solid #ddd;
  border-radius: 4px;
  background-color: white;
  margin: 1em;
  padding: 1em;
}

.h1, .h2, .h3, .h4 {
  margin: 0 1em; 
}

.roomTitle:hover, .itemTitle:hover {
  cursor: pointer;
}

.item {
  margin-top:1em;
  border-top: 1px solid #ddd
}

.room .form-inline {
  display: none;
}

.form-inline {
  padding: 1em 0;
}

.itemTitle {
  display: inline-block;
  width:calc(100% - 250px);
}
.dropdown {
  width: 100px;
  display: inline-block;
}

#sample{
  display: none;
}

.item > li {
  font-size: 14px;
  font-weight: normal;
}

.delete {
  width: 100px;
  margin-right: 1em;
  display: inline-block;
}