.item {
  margin:1em;
}

.room, .looseItems {
  border: 2px solid #ddd;
  border-radius: 4px;
  background-color: white;
  margin: 1em;
  padding: 1em;
}

.h1, .h2, .h3, .h4 {
  padding: 0 1em;
}

.item {
  padding-top:1em;
}

.form-inline {
  padding: 1em 0;
}